<a href="#insertProduct" data-ng-show="logOnStatus">Insert Product</a>
Filter By: <input ng-model="query" type="text"/>

<p>Note: to test inserting an image url, you can right click on one of the other images in
    my table and click 'copy image location', and then right click and paste the url
    into the 'image url' field in the insert page.<p>

<br>{{dbError}}
<br>{{deleteMsg}}

<table>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th> <a href="" ng-click="sortField = 'id'; reverse = !reverse">Id</a></th>
        <th> <a href="" ng-click="sortField = 'productName'; reverse = !reverse">Name</a></th>
        <th> <a href="" ng-click="sortField = 'imageUrl'; reverse = !reverse">Image</a></th>
        <th> <a href="" ng-click="sortField = 'price'; reverse = !reverse">Price</a></th>
        <th> <a href="" ng-click="sortField = 'description'; reverse = !reverse">Description</a></th>
        <th> <a href="" ng-click="sortField = 'websiteUrl'; reverse = !reverse">Website Url</a></th>
    </tr>
    <tr ng-repeat="product in products | filter:query | orderBy:sortField:reverse">
        <td>
            <a href="#/show/{{product.productId}}"><img src="icons/view.png"></a>
        </td>
        <td>
            <a href="#/update/{{product.productId}}" data-ng-show="logOnStatus"><img src="icons/update.png"></a>
        </td>
        <td>
            <a href="#/delete/{{product.productId}}" data-ng-show="logOnStatus"><img src="icons/delete.png"></a>
        </td>
        <td>{{product.id}}</td>
        <td>{{product.productName}}</td>
        <td><img src="{{product.imageUrl}}" width="80" alt=""></td>
        <td>{{product.price}}</td>
        <td>{{product.description}}</td>
        <td><a href="{{product.websiteUrl}}">{{product.websiteUrl}}</a></td>
    </tr>
</table>

