/* 
    Created on : Jan 25, 2017, 4:52:11 PM
    Author     : Colin Barnes
    Description : the external style sheet for my website for CIS 4530 Client
                    Side Scripting.
*/
html {
    margin:0;
    padding:0;
}
body {
    background-color: #F5F0D0;
    margin:0;
    padding:0;
}
#title {
    font-family: "Arial Black", sans-serif;
    font-weight: bold;
    font-size: 500%;
    color: pink;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
#nav {
    font-size: 200%;
    width: 90%;
    text-align: right;
    padding-bottom: 50px;
}
#nav a {
    color: hotpink;
}
#nav a:hover {
    color: pink;
}
#nav a:visited {
    color: purple;
}
#content {
    width: 40%;
    text-align: center;
    font-size: 120%;
    float: left;
    margin-left: 5%;
    border: #EDDE8B solid;
    border-width: 10px;
    border-radius: 50px;
    padding: 1%;
    box-shadow: 10px 10px 5px #888888;
}
#home-picture {
    border-style: solid;
    border-color: greenyellow;
    border-width: 10px;
    border-radius: 200px;
    max-width:100%;
    max-height:100%;
    box-shadow: 10px 10px 5px #888888;
}
#home-picture-div{
    width: 30%;
    float: right;
    margin-right: 5%;
}
#footer {
    background-color: lightblue;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 12px;
}

#lab-content{
    padding-left: 10px;
    margin-left: 1%;
    margin-right: 2%;
    margin-bottom: 24px;
    border: #EDDE8B solid;
    border-width: 10px;
    border-radius: 50px;
    padding: 1%;
    box-shadow: 10px 10px 5px #888888;
}
.navLink {
    text-decoration: none;
}
