html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    bottom: 0px;
}

#titlenav {
    position: fixed;
    background-color: pink;
    top: 0px;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 10px 0px 10px;
    box-shadow: 2px 2px 2px grey;
    z-index: 3px;
}
#title {
    display: inline-block;
    color: yellow;
    font-size: 32px;
}
#navbar {
    position: fixed;
    display: inline-block;
    right: 0px;
    margin: 0px 10px 0px 0px;
}
#navIcon {
    display: inline;
}
.navLink {
    text-decoration: none;
    font-family: sans-serif;
    display: block
}
#nav a {
    color: #FFF630;
}
#nav a:hover {
    color: lightyellow;
}
#nav a:visited {
    color: purple;
}
#navGroup {
    display: none; 
}
#title-page {
    background-color: #FDF8FE;
    min-width: 100%;
    min-height: 100%;
}
#title-logo {
    display: block;
    margin: auto;
    width: 50%;
    background: none;
    margin-top: 12px;
}
#info-page {
    background-color: lightblue;
}
#info-page img {
    max-width:75%;
    max-height:75%;
    border-style: solid;
    border-color: greenyellow;
    border-width: 10px;
    border-radius: 200px;
    margin-bottom: 24px;
}
#form-page {
    background-color: #92EFA4;
}
#footer {
    background-color: lightblue;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    bottom: 0px;
}
#content {
    width: 90%;
    text-align: center;
    font-size: 120%;
    margin-left: 2%;
    margin-right: 2%;
    border: #EDDE8B solid;
    border-width: 10px;
    border-radius: 50px;
    padding: 1%;
    box-shadow: 10px 10px 5px #888888;
}
#home-picture {
    border-style: solid;
    border-color: greenyellow;
    border-width: 10px;
    border-radius: 200px;
    max-width:100%;
    max-height:100%;
    box-shadow: 10px 10px 5px #888888;
}
#home-picture-div{
    width: 30%;
    float: right;
    margin-right: 5%;
}

@media screen and (min-width: 600px) {
    #title-page {
        background-image: url("pictures/background-cat.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .navLink {
        display: inline;
    }
    #navIcon {
        display: none;
    }
    #navGroup {
        display: block;
        z-index: 2;
    }
    #content {
        width: 40%;
        text-align: center;
        font-size: 120%;
        float: left;
        margin-left: 5%;
        border: #EDDE8B solid;
        border-width: 10px;
        border-radius: 50px;
        padding: 1%;
        box-shadow: 10px 10px 5px #888888;
    }
    #app {
        height: 95%;
    }
}
